{% extends 'base.html' %}
{% block head %}
 
{% endblock %}

{% block body %}
<form id="form-container" class="mt-5">
	<div class="row">
		<div class="col-sm-6"><img src="static/banner.png" alt="Banner" class="img-fluid"></div>
		<div class="col-sm-6"><div class="row">
			<h2>Ocena przywiązywania uwagi do szczegółów podczas analizy informacji tekstowej, wizualnej i słuchowej na podstawie badania na grupie studentów.</h2>
      <p> Ankieta, którą za chwilę rozpoczniesz zawiera pytania sprawdzające Twoją zdolność przywiązywania uwagi do detali. Odpowiadaj sprawnie (Twój czas reakcji podlega rejestracji), ale pamiętaj, że poprawność odpowiedzi jest równie ważna. Jeżeli wyrażasz chęć poznania wyników przeprowadzonej ankiety, po zakończeniu badania, wprowadź swój adres mailowy na kolejnej stronie (nie jest to obowiązkowe). </p>
		</div>
		<div class="row"><button class="btn btn-primary mb-3" type="button" onclick="window.location.href='/page2'">Rozpocznij wypełnianie formularza</button></div>
		</div>
		
	</div>
</form>
{% endblock %}
