{% extends 'base.html' %}
{% block head %}
<script>
  window.onload = function() {
    startTimer();
  };
  </script>
  <style>
		.column {
			display: inline-block;
			vertical-align: top;
			width: 45%;
			padding: 20px;
			box-sizing: border-box;
		}
	</style>
{% endblock %}

{% block body %}

<form id="form-container" method="post" action="/page5">
  <div class="row text-center"> 
    <p>Zaznacz 2 słowa w tekście z lewej strony, którymi różni się od tekstu po prawej.</p>
  </div>

  <div class="row"> 
    <div class="column" id="left">
      <p>Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile ci trzeba cenić, ten tylko się dowie, Kto cię straci. Dzięki pięknotwórczej całości ozdobie Widzę i opisuję, bo tęsknię po tobie. Panno święta, co jasnej bronisz Częstochowy I w Ostrej świecisz Bramie! Ty, co gród zamkowy Nowogródzki ochraniasz z jego wiernym ludem! Jak mnie dziecko do zdrowia powróciło cudem (Gdy od płaczącej matki pod Twoją opiekę Ofiarowany, martwy podniosłem powiekę I zaraz mogłem pieszo do Twych świątyń progu Iść za wrócone życie podziękować Bogu), Tak nas powrócisz cudem na Ojczyzny łono.</p>
	 </div>
    <div class="column" id="right"> 
      <p>Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. IIe ci trzeba cenić, ten tylko się dowie, Kto cie straci. Dzięki pięknotwórczej całości ozdobie Widzę i opisuję, bo tęsknię po tobie. Panno święta, co jasnej bronisz Częstochowy I w Ostrej świecisz Bramie! Ty, co gród zamkowy Nowogródzki ochraniasz z jego wiernym ludem! Jak mnie dziecko do zdrowia powróciło cudem (Gdy od płaczącej matki pod Twoją opiekę Ofiarowany, martwy podniosłem powiekę I zaraz mogłem pieszo do Twych świątyń progu Iść za wrócone życie podziękować Bogu), Tak nas powrócisz cudem na Ojczyzny łono.</p>
    </div>
  </div>

  <div class="row"> 
    <button tm-5  class="btn btn-primary mb-3" type="submit" onclick="stopTimer()">Dalej </button>
  </div>
</form>




<script src="static/js/typo.js"></script>
{% endblock %}


