{% extends 'base.html' %}

{% block head %}
 
{% endblock %}

{% block body %}
  <form method="POST" action="/page3">
    {{ form.csrf_token }}
    <div class="form-group" >
        {{ form.study_program.label }}<span class="text-danger">*</span> {{ form.study_program(class="form-control") }}
        {% for error in form.study_program.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.university.label }}<span class="text-danger">*</span> {{ form.university(class="form-control") }}
        {% for error in form.university.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.email.label }} {{ form.email(size=30, class="form-control") }}
        {% for error in form.email.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.gender.label }}<span class="text-danger">*</span> {{ form.gender(class="form-control") }}
        {% for error in form.gender.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.age.label }}<span class="text-danger">*</span> {{ form.age(class="form-control") }}
        {% for error in form.age.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>


{% endblock %}
