{% extends 'base.html' %}
{% block head %}
<script>
  window.onload = function() {
    startTimer();
  };
  </script>
{% endblock %}

{% block body %}
<form id="form-container" method="post" action="/page7">
  <div class="row text-center"> 
    <p>Wybierz, który obrazek powinien znajdować się w miejscu znaku zapytania - ? </p>
  </div>

  <div class="row"> 
    <div class="col-md mb-5" id="left">
      
	  </div>
    <div class="col-md mb-5" id="right"> 
      
    </div>
  </div>
  <div class="row"> 
    <button tm-5 class="btn btn-primary mb-3" type="submit" onclick="stopTimer()" id="next">Dalej </button>
  </div>
</form>

<script src="static/js/zad2.js"></script>
{% endblock %}
