{% extends 'base.html' %}
{% block head %}
<script>
	window.onload = function() {
		startTimer();
	};
</script>
<style>
	td {
			border: 1px solid black;
	}


	
</style>
{% endblock %}

{% block body %}

<form id="form-container">
	<div class="row">
		<div class="col-md text-center" id="left">
			<h2>Wygenerowane hasła </h2>
			<table id="hasla-table" class="mx-auto">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<!--tabela generowana dynamicznie w JavaScript-->
				</tbody>
			</table>
		</div>

		<div class="col-md" id="right">
			<div id="checkboxy">
				<!--lista generowana dynamicznie w JavaScript -->
			</div>
   		</div>
	</div>
   	<div style="clear:both;"></div>
	<div class="row">
  		<button class="btn btn-primary mb-3" type="button" onclick="stopTimer()">Dalej </button>
	</div>
</form>

<script src="static/js/zad3.js"></script>
{% endblock %}
