{% extends 'base.html' %}
{% block head %}
<style>
	.column {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding: 20px;
		box-sizing: border-box;
	}

	td {
		border: 1px solid black;
	}
</style>
<script>
	var isPlaying = false;

	function playAudio() {
	if (!isPlaying){
		isPlaying = true;
		var audioElement = new Audio()
		audioElement.src = 'static/muzyka.mp3'; 
		audioElement.type = 'audio/mpeg';
	
		
		audioElement.play(); 
		audioElement.addEventListener('ended', unlockBTN)
	}}

	function unlockBTN(){
		document.getElementById("dalejBtn").disabled = false;
        document.getElementById("odsluchajBtn").disabled = true;
	}

	window.onload = function() {
	  var btn = document.getElementById('odsluchajBtn');
	  btn.addEventListener('click', playAudio);
	};
  </script>
{% endblock %}

{% block body %}
<form id="form-container" method="post" action="/page9">
	<h2>Odsłuchaj plik dźwiękowy potrzebny do kolejnego zadania: </h2>
	<button class="btn btn-primary mb-3" type="button" value="Play" id="odsluchajBtn">Odsłuchaj </button>
<button class="btn btn-primary mb-3" type="button" id="dalejBtn" disabled="true" onclick="window.location.href='/page11'">Dalej </button>
</form>
{% endblock %}


