{% extends 'base.html' %}
{% block head %}
<script>
	window.onload = function() {
		startTimer();
	};
</script>
{% endblock %}

{% block body %}
<form id="form-container">
	
	<div class="row"><div id="trng" class="d-flex justify-content-center align-items-center">
		<img src="static/trojkat.png" style="max-width: 100%;">
	</div></div>
	
	<div class="row mt-5">
		<div class="col-md text-center"><p>Ile trójkątów widzisz na obrazku? </p></div>
		<div class="col-md" id="right"><input type="number" class="form-control" id="odp" min="1" max="20"></div>
	</div>
	
	<div class="row mt-3">
		<button class="btn btn-primary mb-3" type="button" onclick="stopTimer()"'>Dalej </button>
	</div>

</form>

<script src="static/js/zad5.js"></script>
{% endblock %}
