{% extends 'base.html' %}
{% block head %}
<script>
	isPlaying=false;

	function playAudio() {
	if (!isPlaying){
		isPlaying = true;
		let audio = new Audio()
		audio.src = 'static/animals.mp3'; 
		audio.type = 'audio/mpeg';
		audio.play(); 
		audio.loop = true;
	}}

	
	window.onload = function() {
	  var btn = document.getElementById('odsluchajBtn');
	  btn.addEventListener('click', buttonClick);
	};
</script>
<style>
	#nr1, #nr2 {
		width: 100%;
		max-width: 300px;
		align-self: center;
	}
	
</style>

{% endblock %}

{% block body %}
<form id="form-container" method="post" action="/page16">
	<div class="row text-center">
		<p style="font-weight: bold; font-size: 24px;">Które dwa psy są takie same? </p><br>
      	<p>UWAGA!!! PROSIMY O WŁĄCZENIE DZWIĘKU!</p>
	</div>
	
	<div class="row">
		<div class="col-md-6" id="left">
			<img src="static/dogs.png" alt="dogs" style="width: 100%; height: 110%; visibility: hidden;" id="imgg" >
		</div>
		
		<div class="col-md-6 my-auto justify-content-center" id="right" >
			<input type="number" class="form-control mt-5" id="nr1" min="1" max="8" style="visibility: hidden;">
        	<input type="number" class="form-control mt-2" id="nr2" min="1" max="8" style="visibility: hidden;">
		</div>
	</div>
	<button class="btn btn-primary mb-3" type="button" value="Play" id="odsluchajBtn">Odsłuchaj </button>
	<div class="row mt-3"><button class="btn btn-primary mb-3" type="submit" onclick="stopTimer()" id="dalejBtn" disabled="true">Dalej </button></div>
</form>

<script src="static/js/zad6.js"></script>
{% endblock %}

