{% extends 'base.html' %}
{% block head %}
<script>
  window.onload = function() {
    startTimer();
  };
</script>
<style>
  .column {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  }
  .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  }
  .square img {
  max-width: 50%;
  max-height: 50%;
  }
  .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
</style>
{% endblock %}

{% block body %}
<form id="form-container" method="post" action="/page18">
    <div class="row text-center"><p style="font-weight: bold; font-size: 24px;">Kliknij zwierzęta w kolejności w jakiej występowały ich odgłosy na poprzedniej stronie: </p></div>

    <div class="row"> 
      <div class="column">
        <div class="row">
          <div class="square" id="square1">
            <img src="static/zwierz1.png" alt="Zwierzę 1" onclick="handleClick('square1')">
          </div>
          <div class="square" id="square2">
            <img src="static/zwierz2.png" alt="Zwierzę 2" onclick="handleClick('square2')">
          </div>
        </div>
        <div class="row">
          <div class="square" id="square3">
            <img src="static/zwierz3.png" alt="Zwierzę 3" onclick="handleClick('square3')">
          </div>
          <div class="square" id="square4">
            <img src="static/zwierz4.png" alt="Zwierzę 4" onclick="handleClick('square4')">
          </div>
        </div>
      </div>
    </div>

    <div class="row"><button class="btn btn-primary mb-3" type="submit" onclick="stopTimer()">Dalej</button></div>
</form>

<script src="static/js/zad7.js"></script>
{% endblock %}